/*GENERALS*/
html{
  scroll-behavior: smooth;
}
body{
  width:100%;
  height: auto;
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  height:auto;
}
.outfit-1 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.outfit-2 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
span.schoolbell-regular {
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #af6969;
  font-size: 48px;
  right: 0;
  margin: auto;
  text-align: center;
  transform: rotate(-15deg);
}
.main{
  background: #b39791;
  background: linear-gradient(180deg,rgba(179, 151, 145, 1) 0%, rgba(216, 185, 177, 1) 53%, rgba(224, 192, 184, 1) 100%);
  position: relative;
  width: 100%;
  height: auto;
  z-index: 0;
  overflow: hidden;
}
/*GENERALS*/
/*HEAD*/
.cabezal{
  background-color: #fff;
  width: 100%;
  max-width: 1100px;
  height: auto;
  margin:auto;
  padding: 15px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  backdrop-filter: blur(10px);
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  border-radius: 0 0 20px 20px;
}
.titleSecundario{
  display: flex;
  justify-content: flex-end;
  width: 95%;
  height: auto;
  text-align: center;
  color: #000;
  margin: 0px auto;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
}
.partmenu,
.partmenu:visited{
  font-size: 23px;
  line-height: 25px;
  margin: 0 14px 0 0;
  text-decoration: none;
  color: #a9a9a9;
  transition:linear .5s;
  position: relative;
  padding: 8px 8px 12px 8px;
}
.partmenu:hover{
  opacity: 1;
  color: #000;
  text-decoration: underline;
}
.partmenu img{
  display: inline-block;
  width: 22px;
  height: auto;
  margin: 0px 4px -4px 0;
  opacity: .4;
}
.partmenu:hover img{
  opacity: 1;
}
.partmenu.here{
  opacity: 1;
  color: #000;
  text-decoration: underline;
}
.partmenu.here img{
  opacity: 1;
}
.titlePrimario{
  display: block;
  width: 90%;
  height: auto;
  font-size: 40px;
  text-align: center;
  color: #000;
  margin: 5px auto;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
}
.titleTerciario{
  display: block;
  width: 90%;
  height: auto;
  font-size: 20px;
  text-align: center;
  color: #000;
  margin: 0 auto 50px auto;
  padding: 0;
  font-weight: 200;
  box-sizing: border-box;
  z-index: 1;
  position: relative;
}
.titleTerciario a,
.titleTerciario a:visited{
  text-decoration: underline;
  transition: linear .5s;
  color: #000;
}
.titleTerciario a:hover{
  opacity: .6;
}
.carter{
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  left:0;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  z-index: -1;
  filter: blur(5px);
}
/*CARD*/
.tuSeleccion{
  display: flex;
  width: 100%;
  max-width: 1100px;
  margin: 100px auto;
  box-sizing: border-box;
  padding: 60px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  border-radius: 20px;
  background-color: #fdfdfd;
}
.everycard{
  display: block;
  width: 32%;
  margin: 10px .5%;
  padding:0px;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px -14px #000;
  transition:linear .5s;
}
.everycard.fadeit{
  opacity: 0;
}
.picCard{
  box-sizing: border-box;
  padding: 8px 8px 80px 8px;
  background-color: #fff;
  transform: perspective(800px) rotateY(00deg);
  backface-visibility: hidden;
  transition:linear .5s;
  position: relative;
  width: 100%;
  height: auto;
}
.picCard span{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 26px;
  font-style: normal;
}
.everycard:hover .picCard{
  transform: perspective(800px) rotateY(180deg);
}
.picCard img{
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.vueltaCard{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  transform: perspective(800px) rotateY(180deg);
  backface-visibility: hidden;
  transition: linear .5s;
  background-color: #ffffffc2;
  backdrop-filter: blur(6px);
  box-sizing: border-box;
  padding: 25px;
}
.everycard:hover .vueltaCard{
  transform: perspective(800px) rotateY(360deg);
}
.titleCard{
  display: block;
  width: 100%;
  height: auto;
  font-size: 22px;
  line-height: 25px;
  color: #000;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.bulletCard{
  display: block;
  width: 100%;
  height: auto;
  font-size: 19px;
  line-height: 22px;
  color: #000;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  margin: 8px 0 0 0;
}
.heart{
  position: absolute;
  right: 8px;
  bottom: 8px;
  width: 30px;
  height: 30px;
  font-size: 25px;
  cursor: pointer;
  transition:linear .15s;
  z-index: 2;
  background-image: url(../img/heartWhite.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95%;
}
.heart:hover{
  scale: 1.15;
}
.heart.actived{
  background-image: url(../img/heartBlack.png);
}
/*CARD*/
/*BIG HEART*/
.bigHeart{
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    z-index: -1;
    background-image: url(../img/heartBig.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95% 95%;
}
.bigHeart.animaHeart{
    animation-name: animaHeart;
    animation-duration: .8s;
    animation-iteration-count: 1;
}
@keyframes animaHeart {
  from {
    width: 60vw;
    max-width: 800px;
    max-height: 800px;
    height: 60vw;
    opacity: 1;
    z-index: 1;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
  }
  to {
    width:1px;
    height:1px;
    opacity: 0;
    z-index: 1;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
  }

}
.emptyFavo{
  display: block;
  width: 95%;
  max-width: 800px;
  color: #282828;
  font-size: 20px;
  line-height: 23px;
  text-align:center;
}
.emptyFavo img{
  display: block;
  width: 100%;
  height: auto;
}
.emptyFavo a,
.emptyFavo a:visited{
  display: block;
  width: 190px;
  height: auto;
  padding: 8px;
  border-radius: 200px;
  margin: 10px auto;
  color: #fff;
  background-color: #000;
  transition:linear .5s;
  text-decoration: none;
}
.emptyFavo a:hover{
  opacity: .7;
}
/*BIG HEART*/
/*ArrowUp*/
.toUp{
  display: flex;
  width: 50px;
  right: 20px;
  position: fixed;
  bottom: 60px;
  background-color: #000;
  border-radius: 200px;
  z-index: 1;
  height: 50px;
  bottom: 20px;
  padding: 5px;
  z-index: -1;
  opacity: 0;
  transition:linear .5s;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.toUp img{
  display: block;
  width: 100%;
  margin: 0;
}
.toUp.visibol{
  opacity: 1;
  z-index: 2;
}
/*ArrowUp*/
/*Registro Carters*/
.registroCarters{
  display: block;
  max-width: 400px;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.registroCarters [type="text"]{
  display: block;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 30px;
  border: none;
  background-color: #e3e3e3;
  font-size: 35px;
  line-height: 37px;
  box-sizing: border-box;
  color: #717171;
}
.registroCarters [type="text"]:focus{
  border:#000;
  color: #000;
  outline: none;
}
.registroCarters .botonEnviar{
  display: flex;
  width: 200px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 30px;
  border:none;
  color: #fff;
  background-color: #000;
  font-size: 20px;
  line-height: 22px;
  box-sizing: border-box;
  transition:linear .5s;
  cursor: pointer;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.registroCarters .botonEnviar:hover{
  background-color: #2f2f2f;
}
.errorcito,
.errorcito2{
  display: block;
  font-size: 23px;
  line-height: 25px;
  color: #864343;
}
.correoSobre{
  position: absolute;
  right: 8px;
  bottom: 45px;
  width: 30px;
  height: 30px;
  font-size: 25px;
  cursor: pointer;
  transition: linear .15s;
  z-index: 2;
  background-image: url(../img/sobre.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95%;
}
.correoSobre:hover{
  scale: 1.15;
}
.linksRegistro{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
/*Registro Carters*/
/*Confirmacion Mail*/
.confirmacionMail{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  backdrop-filter: blur(3px);
  background-color: #ffffffbf;
  opacity: 0;
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left:0;
}
.confirmacionMail div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  max-width: 500px;
  max-height: 300px;
  width: 90%;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 30px -10px #000;
  min-height: 300px;
}
.confirmacionMail div .titleSecundario{
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-size: 27px;
  line-height: 30px;
}
.visibleTime{
    animation-name: animaMail;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
@keyframes animaMail {
  0% {
    opacity: 0;
    z-index: 5;
  }
  10% {
    opacity: 1;
    z-index: 5;
  }
  90% {
    opacity: 1;
    z-index: 5;
  }
  100% {
    opacity: 0;
    z-index:5;
  }

}
.invisibol{
  display: none!important;
}
/*Confirmacion Mail*/
@media screen and (max-width:945px){
.bulletCard{
  font-size: 14px;
  line-height: 17px;
}
.titleCard{
  font-size: 17px;
  line-height: 20px;
}
}
@media screen and (max-width:800px){
.everycard{
  width: 49%;
  transform: perspective(0px) rotateY(0deg);
}
.vueltaCard{
  transform: perspective(0px) rotateY(0deg);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}
.heart{
  bottom: unset;
  top: 3px;
}
.picCard{
  padding:  8px;
}
.everycard:hover .picCard{
  transform: perspective(0px) rotateY(0deg);
}
.everycard:hover .vueltaCard{
  transform: perspective(0px) rotateY(0deg);
}
.bulletCard{
  width: 50%;
}
.correoSobre{
  bottom: unset;
  top: 3px;
  right: 60px;
}
.confirmacionMail div .titleSecundario{
  font-size: 20px;
  line-height: 23px;
}
}
@media screen and (max-width:630px){
header.titleSecundario{
  justify-content: center;
}
.partmenu,
.partmenu:visited{
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}
.tuSeleccion{
  padding: 20px;
}
.picCard span{
  position: absolute;
  top: 8px;
  left: 105%;
}
.everycard{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}
.picCard{
  width: 35%;
  display: flex;
  box-sizing: border-box;
}
.vueltaCard{
  width: 65%;
  box-sizing: border-box;
  backdrop-filter: unset;
  padding: 40px 8px 8px 2%;
  background-color: transparent;
}
.toUp{
  width: 40px;
  height: 40px;
}
.titlePrimario{
  font-size: 34px;
  line-height: 36px;
}
}






























